name: TEST Bash and Python
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  Downloadfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set execute permission for the script
        run: |
          echo "#### Running bash script ####"
          chmod +x ./scripts/passwords.sh
          ./scripts/passwords.sh
      - name: Search for Password file
        run: |
          echo "### Running Python script ###"
          sleep 30
          python ./scripts/search-01.py
